<div class="event-item-container">
    <h1>{{event.eventName}}</h1>
    <div class="left-side-item-info">
        <div class="item-image">
        </div>
        <div class="contact-details">
            <h3>{{event.school}}</h3>
        </div>
        <div>
            {{event.address}}
            <hr />
            <hr />
            {{event.email}}
        </div>
    </div>
    <div class="right-side-item-info">
        <div class="item-description">
            <textarea>
            </textarea>
        </div>
        <div class="item-requirements">
            <div class="item-info-grade">
                {{event.grade}}
            </div>
            <div class="item-info-subject">
                {{event.subject}}
            </div>
            <div class="item-info-date">
                {{event.date}}
            </div>
        </div>
    </div>
</div>