<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">

            <div class="item"><img src="imgs/slider-image-3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="imgs/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="imgs/slider-image-1.jpg" alt="GTA V"></div>

        </div>
    </div>
    <div class="container slider-content" ng-controller="EventController as eventCtrl">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>Търси събитие</h2>
                <!-- <p>
                    {{eventCtrl.keyword}}
                    {{eventCtrl.selectedTown}}
                    {{eventCtrl.selectedSubject}}
                </p> -->

                <p>Използвайте търсачката, за да намерите събития във вашия град и регион</p>
                <div class="search-form wow pulse" data-wow-delay="0.8s">
                    <form action="" class=" form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ключова дума" ng-model="eventCtrl.keyword">
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control" placeholder="Избери твоя град" ng-model="eventCtrl.selectedTown">
                                <option selected>Всички градове</option>
                                <option ng-repeat="town in eventCtrl.towns">
                                    {{town.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control" ng-model="eventCtrl.selectedSubject">
                                <option selected>Всички предмети</option>
                                <option ng-repeat="subject in eventCtrl.subjects">
                                    {{subject.name}}
                                </option>
                            </select>
                        </div>
                        <a href="/view-events" class="btn btr-primary" ng-click="eventCtrl.filterEvents()">Търси</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
